// Imports
@import "flexbox";
@import "grilla";
@import "variables";


/* Estilos por default*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;

}
/* A todos los HTML */
body{
    scroll-behavior: smooth;
}
h1{
    color: $amarillo;
    font-weight: 900;

}
.navbar-toggler-icon{
    color: $amarillo;
}

/* Nav */
.navbar-brand{
    color: $amarillo;
}
.nav-item{
    padding: 0 20px;
    .nav-link{
        font-size: 18px;
        color: $blanco;
    }
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    background: $azul;
}


/* footer */

    .footer-dark {
      padding:50px 0;
      color: $amarillo;
      background-color: $azul;
      h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:20px;
      }
      ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:20px;
        margin-bottom:0;
        a {
            color:inherit;
            text-decoration:none;
            opacity:0.6;
          }
      }
      .item.text {
        margin-bottom:36px;
        p {
            opacity:0.6;
            margin-bottom:0;
          }
      }
      .item.social {
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            font-size:20px;
            width:36px;
            height:36px;
            line-height:36px;
            display:inline-block;
            text-align:center;
            border-radius:50%;
            box-shadow:0 0 0 1px rgba(255,255,255,0.4);
            margin:0 8px;
            color: $amarillo;
            opacity:0.75;
          }
      }
      .copyright {
        text-align:center;
        padding-top:24px;
        opacity:0.3;
        font-size:13px;
        margin-bottom:0;
      }
    }

    .footer-dark ul a:hover {
      opacity:0.8;
    }
    
    @media (max-width:767px) {
      .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
      }
    }
    @media (max-width:767px) {
      .footer-dark .item.text {
        margin-bottom:0;
      }
    }
    
    
    @media (max-width:991px) {
      .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
      }
    }

    
    .footer-dark .item.social > a:hover {
      opacity:0.9;
      background-color: $azul;
    }

/* Home */
.marca img{
    margin: 10px;
    height: 200px;
}


.indexContainer{
    /* contenedor del html */
    background-image: url(../assets/images/home.jpg);
    background-size: cover;
}


.main-container{
    /* conteiner del main */
    display: flex;
    flex-direction: column;
    height: 70rem;
}


.marca-container{
    /* estilos a la caja principal del main */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 50px;

    h1{
        text-align: center;
        display: block;
        font-size: 5rem;
        font-weight: 900;
        // letter-spacing: 5px;
        margin: 0 5px;
        span{
            font-size: 5rem;
            letter-spacing: 5px;
            margin: 0 5px;
        }
    }

    p{
        margin: 20px 10px 10px 10px;
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        color: $celeste;
    }

    a{
        text-decoration: none;
        color: $amarillo;
        font-size: 2rem;
    }
    
    hr{
        width: 8rem;
        margin-left: 20px;
    }

    a:hover{
        color: gray;
    }
   
} 


/* Nosotros */
.nosotros-container{
    height: 100rem;
    background: $azulclaro;
    h1{
        color: $amarillo;
        font-weight: 900;
    }
    h2{
        color: $azul;
    }
}


.carousel-inner{
    max-height: 39rem;
    position: absolute;
    top: 4rem;
}

.nosotros__article{
    width: 330px;
    height: 480px;
    padding: 30px;
    margin: 20px;
    border-radius: 70px;
    box-shadow: 0 4px 4px $azul;
    background-color: $azul;
    text-align: center;
    transition: 0.5s all;
    cursor: pointer;
}


.nosotros__article:hover{
    transform: translate(-1rem);
    box-shadow: 0px 16px 20px $azul;
}


article{
    img{
        height: 200px;
    }
    i{
        font-size: 200px;
        color: $celeste;
    }
    h3{
        margin: 10px;
        font-size: 2rem;
        color: $amarillo;
        font-weight: 600;
    }
    p{
        color: $blanco;
        margin: 0px 5px
    }
} 



@media only screen and (max-width:1117px){
    .nosotros-container{
        height: 170rem;
    }
    .nosotros-section{
        margin-bottom: 1200px;
    }
}

@media only screen and (max-width:380px){
    .nosotros__article{
        height: 600px;
    }
    .nosotros-section{
        margin-bottom: 1600px;
    }
    .nosotros-container{
        height: 170rem;
    }
}


/* Menu */
.menu-container{
    background: $azulclaro;
    height: 100vh;
}

.menu-container__h1{
    display: block;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

.monedas-container{
    ul{
        li{
            display: inline-block;
            i{
                font-size: 1.7rem;
                padding: 10px;
                color: $amarillo;
            }
        }
    }
}


@media only screen and (max-width:1800px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }
    .menu-container{
        height: 120rem;
    }
    .grid-container__img{
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:768px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .menu-container{
        height: 230rem;
    }
}

@media only screen and (max-width:510px){
    .menu-container{
        height: 250rem;
    }
}

/* Sucursales */
iframe{
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
}

.sucursales-container{
    height: 100rem;
    background: $azulclaro;
    h1{
        font-size: 3rem;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 10px;
    }
}

.boxes{
    h3{
        color: $amarillo;
    }
    p{
        padding-left: 18px;
        color: $blanco;
    }
    img{
        background: $celeste;
        height: 160px;
        width: 180px;
    }
} 


.shadow-pop-tr{
    animation:shadow-pop-tr .3s cubic-bezier(.47,0.000,.745,.715) both
}

@keyframes shadow-pop-tr{
    0%{box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;transform:translateX(0) translateY(0)}100%{box-shadow:1px -1px #3e3e3e,2px -2px #3e3e3e,3px -3px #3e3e3e,4px -4px #3e3e3e,5px -5px #3e3e3e,6px -6px #3e3e3e,7px -7px #3e3e3e,8px -8px #3e3e3e;transform:translateX(-8px) translateY(8px)}
}

@media only screen and (max-width:1101px){
    .sucursales-container{
        height: 150rem;
    }
}

@media only screen and (max-width:768px){
    .menu{
        width: 100% !important;
        text-align: center;
    }
}

@media only screen and (max-width: 576px){
    .sucursales-container{
        height: 200rem;
    }
    .boxes{
        flex-wrap: wrap;
        justify-content: center ;
    }
}

@media only screen and (max-width: 477px){
    .sucursales-container{
        height: 240rem;
    }
}


/* Contacto */
.contact-container{
    padding:  0.5 1rem;
    background-color: $azulclaro;
    height: 100vh;
    h1{
        font-size: 3rem;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 900;
        position: relative;
        top: 13px;
        color: $amarillo;
    }
    span{
        font-size: 3rem;
        color: $amarillo;
    }
}
.contact-form{
    width: 800px;
    flex: 1;
    text-align: center;
    padding: 30px;
    textarea{
        min-height: 120px;
        resize: none;
    }
    input[type="submit"]{
        background: $azulclaro;
        padding: 12px;
    }
}
.contact-form__input{
    width: 100%;
    padding: 10px;
    margin: 9px 0px;
    border: none;
    border-bottom: 3px solid $celeste;
    background: none;
    color: white;
}
.contact-form__input:hover{
    background: linear-gradient(to bottom, transparent, $celeste)
}
.contact-form__input:focus{
    outline: none;
    background: linear-gradient(to bottom, transparent, $celeste);
}

@media only screen and (max-width:768px){
    .contact-form__img img{
        max-width: 20em;
    }
    .contact-container{
        height: 59rem;
    }

}
@media only screen and (max-width:370px){
    .contact-form__img img{
        max-width: 15em;
    }
}

