.nosotros-section {
  width: 100%;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin: 90px 0px;
}

.nosotros-container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 40px;
  font-size: 3rem;
}

.nosotros__titulo h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.linkSucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 10px;
  margin: 20px 50px;
}

.linkSucursales a {
  font-size: 3rem;
  text-decoration: none;
  color: #03256C;
  font-weight: 900;
}

.contact-flexcontainer {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 60em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #03256C;
  margin: 0px 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 5px #1768AC;
          box-shadow: 0px 0px 10px 5px #1768AC;
}

.contact-form__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__img img {
  margin: auto;
  padding: 7px;
  width: 30rem;
}

.grid-container {
  margin: 40px 10px 10px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

/* Estilos por default*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}

/* A todos los HTML */
body {
  scroll-behavior: smooth;
}

h1 {
  color: #E5D549;
  font-weight: 900;
}

/* Nav */
.navbar-brand {
  color: #E5D549;
}

.nav-item {
  padding: 0 20px;
}

.nav-item .nav-link {
  font-size: 18px;
  color: #fff;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #03256C;
}

/* footer */
.footer-dark {
  padding: 50px 0;
  color: #E5D549;
  background-color: #03256C;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-dark .item.social a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #E5D549;
  opacity: 0.75;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
  background-color: #03256C;
}

/* Home */
.marca img {
  margin: 10px;
  height: 200px;
}

.indexContainer {
  /* contenedor del html */
  background-image: url(../assets/images/home.jpg);
  background-size: cover;
}

.main-container {
  /* conteiner del main */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70rem;
}

.marca-container {
  /* estilos a la caja principal del main */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  top: 50px;
}

.marca-container h1 {
  text-align: center;
  display: block;
  font-size: 5rem;
  font-weight: 900;
  margin: 0 5px;
}

.marca-container h1 span {
  font-size: 5rem;
  letter-spacing: 5px;
  margin: 0 5px;
}

.marca-container p {
  margin: 20px 10px 10px 10px;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: #1768AC;
}

.marca-container a {
  text-decoration: none;
  color: #E5D549;
  font-size: 2rem;
}

.marca-container hr {
  width: 8rem;
  margin-left: 20px;
}

.marca-container a:hover {
  color: gray;
}

/* Nosotros */
.nosotros-container {
  height: 120rem;
  background: #2541B2;
}

.nosotros-container h1 {
  color: #E5D549;
  font-weight: 900;
}

.carousel-inner {
  max-height: 39rem;
  margin-top: 40px;
}

.nosotros__article {
  width: 330px;
  height: 480px;
  padding: 30px;
  margin: 20px;
  border-radius: 70px;
  -webkit-box-shadow: 0 4px 4px #03256C;
          box-shadow: 0 4px 4px #03256C;
  background-color: #03256C;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.nosotros__article:hover {
  -webkit-transform: translate(-1rem);
          transform: translate(-1rem);
  -webkit-box-shadow: 0px 16px 20px #03256C;
          box-shadow: 0px 16px 20px #03256C;
}

.nosotros__titulo {
  border: 3px solid #03256C;
  border-radius: 50px;
  height: 200px;
  max-width: 400px;
  margin-top: 40px;
}

.nosotros__titulo h2 {
  color: #E5D549;
  font-weight: 800;
  font-size: 3rem;
  padding: 7px;
}

.nosotros__titulo p {
  color: #fff;
  text-align: center;
}

.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}

article img {
  height: 200px;
}

article i {
  font-size: 200px;
  color: #1768AC;
}

article h3 {
  margin: 10px;
  font-size: 2rem;
  color: #E5D549;
  font-weight: 600;
}

article p {
  color: #fff;
  margin: 0px 5px;
}

@media only screen and (max-width: 1117px) {
  .nosotros-container {
    height: 170rem;
  }
  .nosotros-section {
    margin-bottom: 120%;
  }
}

@media only screen and (max-width: 743px) {
  .nosotros-section {
    margin-bottom: 200%;
  }
}

@media only screen and (max-width: 547px) {
  .nosotros-section {
    margin-bottom: 280%;
  }
}

@media only screen and (max-width: 372px) {
  .nosotros__article {
    height: 600px;
  }
  .nosotros__titulo {
    height: 350px;
    width: 150px;
  }
  .nosotros-section {
    margin-bottom: 440%;
  }
  .nosotros-container {
    height: 190rem;
  }
}

/* Menu */
.menu-container {
  background: #2541B2;
  height: 100vh;
}

.menu-container__h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}

.monedas-container ul li {
  display: inline-block;
}

.monedas-container ul li i {
  font-size: 1.7rem;
  padding: 10px;
  color: #E5D549;
}

@media only screen and (max-width: 1800px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  .menu-container {
    height: 120rem;
  }
  .grid-container__img {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .menu-container {
    height: 230rem;
  }
}

@media only screen and (max-width: 510px) {
  .menu-container {
    height: 250rem;
  }
}

/* Sucursales */
iframe {
  width: 100%;
  position: relative;
  left: auto;
  right: auto;
}

.sucursales-container {
  height: 100rem;
  background: #2541B2;
}

.sucursales-container h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.boxes h3 {
  color: #E5D549;
}

.boxes p {
  padding-left: 18px;
  color: #fff;
}

.boxes img {
  background: #1768AC;
  height: 160px;
  width: 180px;
}

.shadow-pop-tr {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e,2px -2px #3e3e3e,3px -3px #3e3e3e,4px -4px #3e3e3e,5px -5px #3e3e3e,6px -6px #3e3e3e,7px -7px #3e3e3e,8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e,2px -2px #3e3e3e,3px -3px #3e3e3e,4px -4px #3e3e3e,5px -5px #3e3e3e,6px -6px #3e3e3e,7px -7px #3e3e3e,8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e,2px -2px #3e3e3e,3px -3px #3e3e3e,4px -4px #3e3e3e,5px -5px #3e3e3e,6px -6px #3e3e3e,7px -7px #3e3e3e,8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e,2px -2px #3e3e3e,3px -3px #3e3e3e,4px -4px #3e3e3e,5px -5px #3e3e3e,6px -6px #3e3e3e,7px -7px #3e3e3e,8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

@media only screen and (max-width: 1101px) {
  .sucursales-container {
    height: 150rem;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    width: 100% !important;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .sucursales-container {
    height: 200rem;
  }
  .boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 477px) {
  .sucursales-container {
    height: 240rem;
  }
}

/* Contacto */
.contact-container {
  padding: 0.5 1rem;
  background: #04266C;
  background: -webkit-gradient(linear, right top, left bottom, from(#04266C), to(#2642B2));
  background: linear-gradient(to bottom left, #04266C, #2642B2);
  height: 100vh;
}

.contact-container h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 900;
  position: relative;
  top: 13px;
  color: #E5D549;
}

.contact-container span {
  font-size: 3rem;
  color: #E5D549;
}

.contact-form {
  width: 800px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 30px;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form input[type="submit"] {
  background: #2541B2;
  padding: 12px;
}

.contact-form__input {
  width: 100%;
  padding: 10px;
  margin: 9px 0px;
  border: none;
  border-bottom: 3px solid #1768AC;
  background: none;
  color: white;
}

.contact-form__input:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1768AC));
  background: linear-gradient(to bottom, transparent, #1768AC);
}

.contact-form__input:focus {
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1768AC));
  background: linear-gradient(to bottom, transparent, #1768AC);
}

@media only screen and (max-width: 768px) {
  .contact-form__img img {
    max-width: 20em;
  }
  .contact-container {
    height: 59rem;
  }
}

@media only screen and (max-width: 370px) {
  .contact-form__img img {
    max-width: 15em;
  }
}
/*# sourceMappingURL=prueba.css.map */